<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1" />


   {% if page.description %}
     <meta name="description" content="{{ page.description | truncatewords: 200 | strip_newlines | escape_once }}" />
   {% else %}
     <meta name="description" content="{{ content | strip_html | truncatewords: 200 | strip_newlines | escape_once }}" />
   {% endif %}

  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/syntax.css" />

  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml" />
</head>
